body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:82px;
  width:68px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:401px;
  height:101px;
  overflow:hidden;
}
#u273_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u273_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:101px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
  text-align:left;
}
#u274_img.mouseOver {
}
#u274.mouseOver {
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
