body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:231px;
  height:343px;
  overflow:hidden;
}
#u199_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:343px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u199_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:23px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:0px;
  width:152px;
  height:23px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:343px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u199_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:229px;
  height:340px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:23px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:0px;
  width:152px;
  height:23px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:23px;
  width:209px;
  height:311px;
  overflow:hidden;
}
#u205_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:311px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u205_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:311px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:310px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:33px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  font-family:'宋体 常规', '宋体';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:240px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:38px;
  width:189px;
  height:240px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:26px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:208px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:293px;
  width:13px;
  height:10px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
