body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  height:16px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
