body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:332px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:57px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:320px;
  height:56px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:57px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:56px;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:66px;
  width:30px;
  height:15px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:2px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:66px;
  width:28px;
  height:1px;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:17px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:270px;
  height:16px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
