body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:201px;
}
.u289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:200px;
}
.u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
.u290 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:15px;
  width:30px;
  height:29px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
}
.u290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
.u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
.u291 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:16px;
  width:33px;
  height:28px;
  font-size:16px;
}
.u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
.u292 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:57px;
  width:103px;
  height:28px;
}
.u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
.u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
.u293 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:57px;
  width:103px;
  height:28px;
}
.u293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
.u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
.u294 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:57px;
  width:103px;
  height:28px;
}
.u294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
.u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
.u295 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:57px;
  width:103px;
  height:28px;
}
.u295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
.u296 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:57px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u296_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u296_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u297 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:57px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u297_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u297_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u298 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:57px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u298_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u298_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u299 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:57px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u299_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u299_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
}
.u300 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:139px;
  width:82px;
  height:40px;
}
.u300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u288-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:200px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
