body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:287px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:56px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:287px;
  height:55px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:45px;
  width:43px;
  height:43px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:42px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:46px;
  width:234px;
  height:41px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:55px;
}
.u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:54px;
}
.u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
.u21 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:16px;
  width:92px;
  height:21px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
}
.u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
.u22 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:19px;
  width:31px;
  height:16px;
}
.u22_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
.u22_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:54px;
}
#u19-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:313px;
  height:54px;
}
#u19-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:313px;
  height:54px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
