body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  height:22px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u3_input {
  font-family:'应用字体';
}
#u3_input:disabled {
  color:grayText;
}
