body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:341px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  height:340px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:203px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:25px;
  width:200px;
  height:202px;
  line-height:22px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:235px;
  width:200px;
  height:33px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u78_input {
  font-family:'应用字体';
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:302px;
  width:200px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u79_img.mouseDown {
}
#u79.mouseDown {
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:17px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:276px;
  width:200px;
  height:16px;
  color:#FF0000;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
