body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:10px;
  width:24px;
  height:24px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u261_img.mouseOver {
}
#u261.mouseOver {
}
#u261_img.mouseDown {
}
#u261.mouseDown {
}
#u261_img.selected {
}
#u261.selected {
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:10px;
  width:24px;
  height:24px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u262_img.mouseOver {
}
#u262.mouseOver {
}
#u262_img.mouseDown {
}
#u262.mouseDown {
}
#u262_img.selected {
}
#u262.selected {
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:10px;
  width:24px;
  height:24px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u263_img.mouseOver {
}
#u263.mouseOver {
}
#u263_img.mouseDown {
}
#u263.mouseDown {
}
#u263_img.selected {
}
#u263.selected {
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:15px;
  width:42px;
  height:16px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:10px;
  width:24px;
  height:24px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u265_img.mouseOver {
}
#u265.mouseOver {
}
#u265_img.mouseDown {
}
#u265.mouseDown {
}
#u265_img.selected {
}
#u265.selected {
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:55px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u266_img.mouseOver {
}
#u266.mouseOver {
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:10px;
  width:55px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u267_img.mouseOver {
}
#u267.mouseOver {
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:15px;
  width:42px;
  height:16px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:10px;
  width:34px;
  height:25px;
}
#u269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u269_input {
  font-family:'应用字体';
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:11px;
  width:53px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u270_img.mouseOver {
}
#u270.mouseOver {
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
